@font-face {
    font-family: "txt";
    src: url(./fonts/satoshi.ttf);
}
@font-face {
    font-family: "display";
    src: url(./fonts/buttershine.otf);
}
body {
    font-family: "txt";
    color: #F8F8F8;
    background: #050505;
    overflow:hidden;
    height: 100vh;
}
.grid {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: min-content auto;
}
.menu {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 30vmin;
    font-weight: 200;
    background: #141414;
    z-index: 2;
    overflow: hidden;
}
.w-e {
    text-wrap: nowrap;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "display";
    font-size: 8.5vw;
}
.w-e p span {
    font-family: "txt";
    font-weight: 700;
}
.menu-item {
    position: absolute;
    bottom: 10%;
    transform: translate(-50%, 50%);
    font-size: 0.75vmax;
}
.clickable {
  cursor: pointer;
}
.clickable:nth-child(2) {
    left: 5%;
}
.clickable:nth-child(3) {
    left: 25%;
}
.clickable:nth-child(4) {
    left: 75%;
}
.clickable:nth-child(5) {
    left: 95%;
}
.name {
  left: 50%;
  cursor: default;
  opacity: 0.7;
}
.home {
    position: relative;
    height:100%;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}
p {
    margin: 0;
}
canvas {
    max-height: 100%;
    display: block;
}
  
.cursor{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    z-index: 100;
    transform: translate3d(var(--posX), var(--posY), 0);  
}
.about, .works, .contact {
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;
}
.a-p {
  position: fixed;
  left: 50%;
  bottom: -1vh;
  transform: translateX(-50%);
  width: min-content;
  height: min-content;
}
.a-p img {
  height: 70vh;
  filter: sepia(0) blur(0);
  transition: .3s ease-in-out;
}
.a-p img:hover {
  filter: sepia(100%) blur(2px);
  transition: .3s ease-in-out;
}
   .a-fn, .a-ln {
    position: absolute;
    font-family: "display";
    font-size: 8vmax;
   }
   .a-fn {
    left: 5%;
    top: 20%;
   }
   .a-ln {
    right: 5%;
    top: 60%
   }
   .a-desc {
    position: absolute;
    font-family: "txt";
    font-size: 1.25vmax;
    width: 60%;
    left: 5%;
    top: 100%;
   }
   .a-m {
    position: absolute;
    right: 5%;
    top: 140%;
    width: 60%;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    border: #F8F8F8 solid 0.001vmin;
    background: #05050560;
   }
  #l {
    display: grid;
    grid-template-columns: 25% 75%;
  }
  #r {
    display: grid;
    grid-template-columns: 75% 25%;
  }
  .mbar-t {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5vw;
    justify-content: center;
    font-family: "display";
  }
  #l .mbar-t {
    border-right: solid 0.00001vmin #f8f8f8;
  }
  #r .mbar-t {
    border-left: solid 0.00001vmin #f8f8f8;
  }
  .mbar-g {
    margin-left: 50%;
    transform: translateX(-50%);
    width: min-content;
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    column-gap: 4vw;
    padding: 0vmax 1vmax 2.75vmax 1vmax;
  }
  .mbar-g-i {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .mbar-g-i img {
    max-width: 2.5vw;
  }
  .works, .about {
    overflow-x: hidden;
    overflow-y: auto;
  }
  .w-h {
    position: absolute;
    top: 7.5vmin;
    font-family: "display";
    font-size: 4.5vw;
    left: 50%;
    transform: translateX(-50%);
    text-wrap: nowrap;
  }
  .w-g {
    position: absolute;
    left: 12.5vw;
    width: 75vw;
    top: 25vmin;
    height: min-content;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 22.5vmin;
    row-gap: 2.5vmin;
    overflow-x: hidden;
  }
  .w-gi {
    height: 100%;
    width: 100%;
    background: #141414;
    border-radius: 1.25vmax;
  }
  .w-gi-g {
    position: relative;
    left: 3.375%;
    top: 17.5%;
    width: 92.5%;
    height: 65%;
    display: grid;
    grid-template-columns: 5% 85% 10%;
  }
  .w-n {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items: left;
    font-size: 1vmax;
    font-weight: 200;
  }
  .w-hero-g {
    display: grid;
    grid-template-rows: 40% 20% 40%;
    margin-top: -1.25vmin;
  }
  .w-name {
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items: left;
    font-size: 2vmax;
    font-weight: 100;
  }
  a {
    text-decoration: underline;
    color: #396DA4;
  }
  .w-link {
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items: left;
    font-size: 1vmax;
    font-weight: 100;
  }
  .w-at {
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items: left;
    font-size: 1vmax;
    font-weight: 400;
  }
  .w-r {
    display: grid;
    grid-template-rows: auto auto;
    float: left;
  }
  .w-s {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    column-gap: 1vmin;
  }
  .w-s-i {
    border-radius: 0.5vmax;
    background: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: min-content;
    height: min-content;
  }
  .space {
    width: 3.5vw;
  }
  .w-s-i img {
    height: 2vw;
    padding: 0.5vmax;
  }
  .w-d {
    font-size: 1.5vmax;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke-color: #F8F8F8;
    -webkit-text-stroke-width: 0.05vmin;
    text-align: right;
  }
  .c-h {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
  }
  .c-txt {
    font-size: 6vmax;
    font-family: "display";
    text-wrap: nowrap;
  }
  .c-d {
    position: absolute;
    left: 1vmin;
    font-size: 1.2vmax;
    font-weight: 200;
    top: 90%;
  }
  .c-s {
    position: absolute;
    right: 1vmin;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1vmax;
    height: 2vmax;
    top: 90%;
  }
  .c-s a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .c-s a:nth-child(1) img {
    height: 2vmax;
  }
  .c-s a:nth-child(2) img {
    height: 1.5vmax;
  }
  .c-s img {
    opacity: 0.6;
    transition: opacity 500ms ease-in-out;
  }
  .c-s img:hover {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
  }
  ::-webkit-scrollbar {
    background: #343434;
    width: 0.75vmax;
  }
  ::-webkit-scrollbar-thumb {
    background: #181818;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #141414;
  }