@font-face {
    font-family: "txt";
    src: url(./fonts/satoshi.ttf);
}
@font-face {
    font-family: "display";
    src: url(./fonts/buttershine.otf);
}
body {
    font-family: "txt";
    color: #F8F8F8;
    background: #050505;
    overflow:hidden;
    height: 100vh;
}
.grid {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: min-content auto;
}
.menu {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 30vmin;
    font-weight: 200;
    background: #141414;
    z-index: 2;
    overflow: hidden;
}
.w-e {
    text-wrap: nowrap;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "display";
    font-size: 8.5vw;
}
.w-e p span {
    font-family: "txt";
    font-weight: 700;
}
.menu-item {
    position: absolute;
    bottom: 10%;
    transform: translate(-50%, 50%);
    font-size: 1vmax;
    cursor: pointer;
}
.menu-item:nth-child(2) {
    left: 5%;
}
.menu-item:nth-child(3) {
    left: 25%;
}
.menu-item:nth-child(4) {
    left: 75%;
}
.menu-item:nth-child(5) {
    left: 95%;
}
.home {
    position: relative;
    height:100%;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}
.hero-name {
    text-align: center;
    font-size: 6vmax;
    font-weight:700;
    text-wrap: nowrap;
}
.hero-box {
    width: min-content;
    height: min-content;
    border: #F8F8F8 0.05vmin solid;
    background: rgba(5,5,5, 0.7);
    text-wrap: nowrap;
    font-size: 0.8vmax;
    font-weight: 400;
    border-radius: 100vmax;
}
.hero-box p {
    padding: 0.75vmax 1.25vmax;
}
p {
    margin: 0;
}
canvas {
    max-height: 100%;
    display: block;
}
  
.cursor{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    z-index: 100;
    transform: translate3d(var(--posX), var(--posY), 0);  
}
.about, .works, .contact {
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;
}
.a-g {
    display: grid;
    position: absolute;
    left: 7.5vw;
    width: 85vw;
    top: 10vmin;
    height: 70vmin;
    grid-template-columns: 37.5% 55%;
    column-gap: 7.5%;
}
.a-p {
    position: relative;
    height: 100%;
    width: 100%;
    background: #050505;
    overflow: hidden;
}
.a-t {
    font-size: 6vmax;
    font-family: "display";
}
.a-d {
    font-size: 1.5vmax;
    font-family: "txt";
    font-weight: 200;
}
.a-d p {
    margin-block-start: 1vmax;
}
.a-p > img {
    max-width: 100%;
    min-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.more {
    display: grid;
    grid-template-columns: min-content min-content;
    position: absolute;
    bottom: 1vmin;
    right: 1vmin;
    font-size: 2vmin;
    color: #f8f8f8;
    text-wrap: nowrap;
    cursor: pointer;
    font-weight: 600;
}
.more img {
    height: 1vmax;
    margin-block-start: 0.25vmin;
}
.more:after {    
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: #050505;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .more:hover:after { 
    width: 100%; 
    left: 0; 
  }
  .more-g {
    position: relative;
    width: 60vw;
    border-radius: 1vmax;
    height: 100vh;
    display: none;
    grid-template-rows: 7% 13.5% 13.5% 13.5% auto;
    background: #141414;
    left: 50%;
    top: 150%;
    transform: translate(-50%, -50%);
    z-index: 6;
  }
  .blur {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    backdrop-filter: blur(5px);
    display: none;
    z-index: 5;
    opacity: 0;
  }
  .mn {
    position: relative;
    width: inherit;
    height: 100%;
    border-bottom: 0.0001vmin #F8F8F8 solid;
  }
  .mn-btns {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2.5vmin;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1.25vmin;
  }
  .red, .yellow {
    width: 1.5vmin;
    height: 1.5vmin;
    border-radius: 100%;
    cursor: pointer;
  }
  .red {
    background: #FF605C;
  }
  .yellow {
    background: #FFBD44;
  }
  .mbar {
    width: inherit;
    border-bottom: 0.0001vmin #F8F8F8 solid;
  }
  .m {
    font-size: 2vw;
    opacity: 0.2;
    position: relative;
    width: min-content;
    height: min-content;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-wrap: nowrap;
    font-weight: 700;
  }
  #l {
    display: grid;
    grid-template-columns: 25% 75%;
  }
  #r {
    display: grid;
    grid-template-columns: 75% 25%;
  }
  .mbar-t {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5vw;
    justify-content: center;
    font-family: "display";
  }
  #l .mbar-t {
    border-right: solid 0.00001vmin #f8f8f8;
  }
  #r .mbar-t {
    border-left: solid 0.00001vmin #f8f8f8;
  }
  .mbar-g {
    margin-left: 50%;
    transform: translateX(-50%);
    width: min-content;
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    column-gap: 4vw;
  }
  .mbar-g-i {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .mbar-g-i img {
    max-width: 3vw;
  }
  .mn-head {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1vmax;
  }
  .works {
    overflow-x: hidden;
    overflow-y: auto;
  }
  .w-h {
    position: absolute;
    top: 7.5vmin;
    font-family: "display";
    font-size: 4.5vw;
    left: 50%;
    transform: translateX(-50%);
    text-wrap: nowrap;
  }
  .w-g {
    position: absolute;
    left: 12.5vw;
    width: 75vw;
    top: 25vmin;
    height: min-content;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 22.5vmin;
    row-gap: 2.5vmin;
    overflow-x: hidden;
  }
  .w-gi {
    height: 100%;
    width: 100%;
    background: #141414;
    border-radius: 1.25vmax;
  }
  .w-gi-g {
    position: relative;
    left: 3.375%;
    top: 17.5%;
    width: 92.5%;
    height: 65%;
    display: grid;
    grid-template-columns: 5% 85% 10%;
  }
  .w-n {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items: left;
    font-size: 1vmax;
    font-weight: 200;
  }
  .w-hero-g {
    display: grid;
    grid-template-rows: 40% 20% 40%;
    margin-top: -1.25vmin;
  }
  .w-name {
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items: left;
    font-size: 2vmax;
    font-weight: 100;
  }
  a {
    text-decoration: underline;
    color: #396DA4;
  }
  .w-link {
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items: left;
    font-size: 1vmax;
    font-weight: 100;
  }
  .w-at {
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items: left;
    font-size: 1vmax;
    font-weight: 400;
  }
  .w-r {
    display: grid;
    grid-template-rows: auto auto;
    float: left;
  }
  .w-s {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    column-gap: 1vmin;
  }
  .w-s-i {
    border-radius: 0.5vmax;
    background: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: min-content;
    height: min-content;
  }
  .space {
    width: 3.5vw;
  }
  .w-s-i img {
    height: 2vw;
    padding: 0.5vmax;
  }
  .w-d {
    font-size: 1.5vmax;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke-color: #F8F8F8;
    -webkit-text-stroke-width: 0.05vmin;
    text-align: right;
  }
  .c-h {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
  }
  .c-txt {
    font-size: 6vmax;
    font-family: "display";
    text-wrap: nowrap;
  }
  .c-d {
    position: absolute;
    left: 1vmin;
    font-size: 1.5vmax;
    font-weight: 200;
    top: 90%;
  }
  .c-s {
    position: absolute;
    right: 1vmin;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1vmax;
    height: 2vmax;
    top: 90%;
  }
  .c-s a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .c-s a:nth-child(1) img {
    height: 2vmax;
  }
  .c-s a:nth-child(2) img {
    height: 1.5vmax;
  }
  .c-s img {
    opacity: 0.6;
    transition: opacity 500ms ease-in-out;
  }
  .c-s img:hover {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
  }